{{/* Copyright 2024 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. */}}

{{define "breadcrumbs"}}
<div class="breadcrumb">
  <span class="breadcrumb-label">Aggregates</span>
</div>
{{end}}

{{define "content"}}
<md-tabs id="page-tabs" hx-push-url="true">
  {{/* TODO: we need some sort of "route generator" function because this is brittle. */}}
  <md-primary-tab hx-get="{{.outdirRevBaseURL}}/steps/" {{if urlPathHasPrefix .currentURL (printf "%s/steps/" .outdirRevBaseURL)}}selected{{end}}>Build Steps</md-primary-tab>
  <md-primary-tab hx-get="{{.outdirRevBaseURL}}/logs/" {{if urlPathHasPrefix .currentURL (printf "%s/logs/" .outdirRevBaseURL)}}selected{{end}}>Logs</md-primary-tab>
  <md-primary-tab hx-get="{{.outdirRevBaseURL}}/aggregates/" {{if urlPathHasPrefix .currentURL (printf "%s/aggregates/" .outdirRevBaseURL)}}selected{{end}}>Performance</md-primary-tab>
</md-tabs>
<h2>Aggregates prototype</h2>
<table>
  <thead>
    <th>Aggregate By</th>
    <th>Count</th>
    <th>Total Utime</th>
    <th>Total Duration</th>
    <th>Total Weighted Duration</th>
  </thead>
  <tbody>
    {{range $_, $aggregate := .aggregates}}
      <tr>
        <td>{{$aggregate.AggregateBy}}</td>
        <td>{{$aggregate.Count}}</td>
        <td>{{formatIntervalMetricTimestamp $aggregate.TotalUtime}}</td>
        <td>{{formatIntervalMetricTimestamp $aggregate.TotalDuration}}</td>
        <td>{{formatIntervalMetricTimestamp $aggregate.TotalWeightedDuration}}</td>
      </tr>
    {{end}}
  </tbody>
</table>
{{end}}
