{{/* Copyright 2024 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. */}}

{{define "breadcrumbs"}}
  {{if .file}}
    <div class="breadcrumb">
      <a href="{{.outdirRevBaseURL}}/logs/" class="breadcrumb-label">Raw Logs</a>
    </div>
    <div class="breadcrumb">
      <span class="breadcrumb-label">{{.file}}</span>
    </div>
  {{else}}
    <div class="breadcrumb">
      <span class="breadcrumb-label">Raw Logs</span>
    </div>
  {{end}}
{{end}}

{{define "tabs"}}
<md-tabs id="page-tabs" hx-push-url="true">
  {{/* TODO: we need some sort of "route generator" function because this is brittle. */}}
  <md-primary-tab hx-get="{{.outdirRevBaseURL}}/steps/" {{if urlPathHasPrefix .currentURL (printf "%s/steps/" .outdirRevBaseURL)}}selected{{end}}>Build Steps</md-primary-tab>
  <md-primary-tab hx-get="{{.outdirRevBaseURL}}/logs/" {{if urlPathHasPrefix .currentURL (printf "%s/logs/" .outdirRevBaseURL)}}selected{{end}}>Logs</md-primary-tab>
  <md-primary-tab hx-get="{{.outdirRevBaseURL}}/aggregates/" {{if urlPathHasPrefix .currentURL (printf "%s/aggregates/" .outdirRevBaseURL)}}selected{{end}}>Performance</md-primary-tab>
</md-tabs>
{{end}}

{{define "sidebar"}}
{{$outdirRevBaseURL:=.outdirRevBaseURL}}
{{$currentURL:=.currentURL}}
{{$currentRev:=.currentRev}}
{{$allowedFiles:=.allowedFiles}}
<aside id="page-sidebar">
  <ul class="revs-timeline">
    {{range $r := .revs}}
    <li{{if eq $r.Rev $currentRev}} class="selected"{{end}}>
      <a class="rev-label" href="{{$outdirRevBaseURL}}/../{{.Rev}}/logs/">
        <span class="rev-label-note">Logs in</span>
        {{buildTimeHumanReadable $r}}
        <md-ripple></md-ripple>
      </a>
      <div class="rev-info">
        <relative-time datetime="{{timeRFC3339 .Mtime}}"></relative-time>
        {{if eq $r.Rev $currentRev}}
        <ul class="rev-sublinks">
          {{range $allowedFile := $allowedFiles}}
            {{$logURL := printf "%s/logs/%s" $outdirRevBaseURL $allowedFile}}
            <li{{if (urlPathEq $currentURL $logURL)}} class="selected"{{end}}>
              <a href="{{$logURL}}">
                {{$allowedFile}}
              </a>
            </li>
          {{end}}
        </ul>
        {{end}}
      </div>
    </li>
    {{end}}
  </ul>
</aside>
{{end}}

{{define "content"}}
{{$outdirRevBaseURL:=.outdirRevBaseURL}}
{{$currentURL:=.currentURL}}
{{$currentRev:=.currentRev}}
{{$allowedFiles:=.allowedFiles}}
<pre><code>{{.fileContents}}</code></pre>
{{end}}
