{{/* Copyright 2026 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. */}}

{{define "invocation_tabs"}}
{{/* TODO: we need some sort of "route generator" function because this is brittle. */}}
<a href="{{.outdirRevBaseURL}}/steps/" class="page-tab {{if urlPathHasPrefix .currentURL (printf "%s/steps/" .outdirRevBaseURL)}}selected{{end}}">Build Steps</a>
<a href="{{.outdirRevBaseURL}}/details/" class="page-tab {{if urlPathHasPrefix .currentURL (printf "%s/details/" .outdirRevBaseURL)}}selected{{end}}">Details</a>
<a href="{{.outdirRevBaseURL}}/logs/" class="page-tab {{if urlPathHasPrefix .currentURL (printf "%s/logs/" .outdirRevBaseURL)}}selected{{end}}">Logs</a>
<a href="{{.outdirRevBaseURL}}/aggregates/" class="page-tab {{if urlPathHasPrefix .currentURL (printf "%s/aggregates/" .outdirRevBaseURL)}}selected{{end}}">Performance</a>
{{end}}
