{{/* Copyright 2026 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. */}}

{{define "invocation_tabs"}}
<md-tabs id="page-tabs" hx-push-url="true">
  {{/* TODO: we need some sort of "route generator" function because this is brittle. */}}
  <md-primary-tab hx-get="{{.outdirRevBaseURL}}/steps/" {{if urlPathHasPrefix .currentURL (printf "%s/steps/" .outdirRevBaseURL)}}selected{{end}}>Build Steps</md-primary-tab>
  <md-primary-tab hx-get="{{.outdirRevBaseURL}}/details/" {{if urlPathHasPrefix .currentURL (printf "%s/details/" .outdirRevBaseURL)}}selected{{end}}>Details</md-primary-tab>
  <md-primary-tab hx-get="{{.outdirRevBaseURL}}/logs/" {{if urlPathHasPrefix .currentURL (printf "%s/logs/" .outdirRevBaseURL)}}selected{{end}}>Logs</md-primary-tab>
  <md-primary-tab hx-get="{{.outdirRevBaseURL}}/aggregates/" {{if urlPathHasPrefix .currentURL (printf "%s/aggregates/" .outdirRevBaseURL)}}selected{{end}}>Performance</md-primary-tab>
</md-tabs>
{{end}}
